body {background: black;}
.container {
    width: 100vw;
    height: 100vh;
}
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 480px;
    transform: translate(-50%, -50%);
}